*{
    text-align: center;
}
#border{
    background: url(./assets/bg.jpg)no-repeat center/cover;
    border: 15px solid black;
    width: 60%;
    margin: 0 auto;
    padding: 15px 0px 70px 0px;
}
.head{
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 62px;
}
.title{
    text-align: center;
    font-size: 42px;
    position: relative;
    top: -60px;
}
.texts{
    position: relative;
    top: -60px;
}
.name{
    text-align: center;
    font-size: 45px;
    text-transform: capitalize;
    font-style: italic;
    position: relative;
    top: -40px;
    border-bottom: 2px solid black;
    width:max-content;
    margin: 0 auto;
    padding: 0px 15px;
}
.course{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
    position: relative;
    top: -15px;
    width: 70%;
    margin: 0 auto;
}