*{
    background-color: #080e33;
}

.container{
    width: 85%;
    margin: 0 auto;
}

.header{
    margin-top: 40px;
}

.row{
    display: flex;
    justify-content: space-between;
}

.logo{
    width: 30%;
    font-size: 25px;
}

.nba{
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}

.navb{
    width: 35%;
    align-items: center;
}

.navb .nba:hover{
    color: rgb(241, 73, 129);
}

.img-con{
    width: 90%;
    margin: 0 auto;
}

.image{
    margin-top: 60px;
    width: 100%;
}

.content{
    margin-top: 25px;
    width: 50%;
}

.heading{
    font-size: 55px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}

.sub-head{
    font-size: 32px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #d572db;
    position: relative;
    top: -28px;
}

.main-con{
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    color: white;
    position: relative;
    top: -38px;
}
